<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}

{% block title %}Home Page - Clean Blog{% endblock %}

{% block content %}
    <!-- Hero Header Specific to Home Page -->
    <header style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}'); height: 50vh; background-size: cover; background-position: center; position: relative;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
            <h1 style="font-size: 40px; font-weight: bold;">Clean Blog</h1>
            <p style="font-size: 18px; font-weight: normal;">A Blog Theme by Start Bootstrap</p>
        </div>
    </header>
    <main>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Blog post previews and other content -->
                    <!-- Existing main content continues -->
                </div>
            </div>
        </div>
    </main>
    {% include "footer.html" %}
{% endblock %}
